@import "../../styles/base.scss";

.containerCountry {
  @include justifyBetween;
  gap: 5%;
}

.cardCountry {
  flex-basis: 25%;
}

.filterContainer {
  @include justifyBetween;
  width: 100%;
  padding-bottom: 5%;

  @include apply-at-xl-size {
    flex-direction: column;
  }
}
